.container{
    padding: 10px;
    background-color: #f7f1e3;
    width: 100%;
    height: 950px;
    
}
.box-container{
    width: 800px;
    height: 500px;
    width: 100%;
    height: 900px;
    display: flex;
  justify-content: center;
  align-items: center;
}
.box{
    width: 1000px;
    height: 700px;
    background-color: #34ace0;
    border-radius: 30px;
    display: flex;
}
.switch{
    width: 65%;
    height: 100%;
    background-color: #f5f6fa;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.input{
    width: 35%;
    height: 100%;
    background-color: #00a8ff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}